.btn-group {
  padding: 0 10px 10px;
  width: 100%;
  .button {
    &.btn {
      width: 100%;
      height: 35px;
      font-size: 14px;
      &:disabled {
        cursor: not-allowed;
      }
    } 
  }
}