@keyframes lds-ball {

  0%,
  100% {
    animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55);
  }

  0% {
    -webkit-transform: translateY(0);
    transform        : translateY(0);
  }

  50% {
    -webkit-transform        : translateY(108px);
    transform                : translateY(108px);
    animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9);
  }

  100% {
    -webkit-transform: translateY(0);
    transform        : translateY(0);
  }
}

@-webkit-keyframes lds-ball {

  0%,
  100% {
    animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55);
  }

  0% {
    -webkit-transform: translateY(0);
    transform        : translateY(0);
  }

  50% {
    -webkit-transform        : translateY(108px);
    transform                : translateY(108px);
    animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9);
  }

  100% {
    -webkit-transform: translateY(0);
    transform        : translateY(0);
  }
}

.lds-ball {
  position: relative;
  z-index: 20;
  transition: 3s ease-out;
}

.lds-ball div {
  position         : absolute;
  width            : 52px;
  height           : 52px;
  border-radius    : 50%;
  background-image : url('../app-header/fm_logo.gif');
  background-repeat: no-repeat;
  background-size  : cover; 
  -webkit-animation: lds-ball 1s linear infinite;
  animation        : lds-ball 1s linear infinite;
}

.lds-ball {
  position: fixed;
  width: 52px;
  height: 52px;
  margin-left: -25px;
  margin-top: -25px;
}