.item-details {
  padding: 10px;
  position: relative;
  overflow: hidden;
  .club-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    z-index: -1;
    opacity: .9;
    // border-bottom: 2px solid #000;
    // box-shadow: 0px 3px 5px 0px rgba(0,0,0,1);
  }

  &.purchased {
    position: relative;
    &:before {
      content: '';
      width: 30px;
      height: 30px;
      background-image: url('./../../assets/images/check-mark.svg');
      background-repeat: no-repeat;
      background-size: 25px 25px;
      background-position: center center;
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
  &.captain {
    position: relative;
    &:before {
      content: 'captain';
      background-color: #0e1fe8;
      color: #ffffff;
      padding: 0 20px;
      transform: rotate(43deg);
      position: absolute;
      right: -22px;
      top: 10px;
    }
  }
    
  .rating {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 700;
    i {
      color: #ff8300;
    } 
  }

  .photo {
    height: 80px;
    margin-bottom: 10px;
    opacity: .96;
    img {
      border-radius: 50%;
    }
  }

  .name {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .description {
    margin-bottom: 5px;
    padding-bottom: 5px;
    .description-item {
      span {
        font-size: 15px;
        & + span {
          &.winger {
            background-color: #d24b4b;
            padding: 5px 10px;
            line-height: 1;
            border-radius: 2px;
            color: #ffffff;
            display: block;
          }
          &.halfback {
            background-color: #e08613;
            padding: 5px 10px;
            line-height: 1;
            border-radius: 2px;
            color: #ffffff;
            display: block;
          }
          &.defender {
            background-color: #1b79f1;
            padding: 5px 10px;
            line-height: 1;
            border-radius: 2px;
            color: #ffffff;
            display: block;
          }
          &.goalkeeper {
            background-color: #ab3fb1;
            padding: 5px 10px;
            line-height: 1;
            border-radius: 2px;
            color: #ffffff;
            display: block;
          }
        }
      }
      & + .description-item {
        margin-top: 5px;
      }

      .number {
        font-size: 20px;
        font-weight: 700;
        color: #22b9cc;
        text-shadow: 2px 2px 2px rgb(4, 0, 255);
      }
    }
    .gold-balls {
      .icon {
        span {
          height: 20px;
          background-color: #fff;
        }
      }
    }
  }
}