.item-details {
  .rating {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 700;
    i {
      color: #ff8300;
    } 
  }

  .photo {
    height: 80px;
    img {
      border-radius: 50%;
    }
  }

  .name {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .description {
    margin-bottom: 5px;
    .position {
      font-size: 14px;
    }
    .cost {
      font-size: 13px;
    }
  }
}